@model Shoppy.SharedLibrary.Models.Responses.Carts.CartItemDto

<tr>
    <form asp-controller="Cart" method="post">
        <td class="d-flex justify-content-start align-items-start">
            <img class="me-3" src=@(Model.ProductThumbUrl ?? "~/img/product-1.jpg") alt="" style="width: 50px;">
            <a asp-controller="Books" asp-action="Detail" asp-route-id="@Model.ProductId" class="h6 text-decoration-none text-truncate"> @Model.ProductName</a>
        </td>
        <td class="align-middle">$@Model.Price</td>
        <td class="align-middle">
            <div class="input-group quantity mx-auto" style="width: 100px;">
                @* <div class="input-group-btn"> *@
                @*     <button class="btn btn-sm btn-primary btn-minus"> *@
                @*         <i class="fa fa-minus"></i> *@
                @*     </button> *@
                @* </div> *@
                <input type="number" min="1" max="10" name="quantity" class="form-control form-control-sm bg-secondary border-0 text-center" value="@Model.Quantity">
                @* <div class="input-group-btn"> *@
                @*     <button class="btn btn-sm btn-primary btn-plus"> *@
                @*         <i class="fa fa-plus"></i> *@
                @*     </button> *@
                @* </div> *@
            </div>
        </td>
        <td class="align-middle">$@(Model.Price * Model.Quantity)</td>

        <td class="align-middle">
            <input type="hidden" name="productId" value="@Model.ProductId"/>
            <button class="btn btn-sm btn-primary" type="submit" asp-action="UpdateCartItem" >
                <i class="fa fa-pen-to-square" style="color: white"></i>
            </button>

        </td>
        <td class="align-middle">

            <input type="hidden" name="productId" value="@Model.ProductId"/>
            <button class="btn btn-sm btn-danger" type="submit" asp-action="RemoveFromCart">
                <i class="fa-solid fa-trash-can"></i>
            </button>

        </td>

    </form>


</tr>